body {
	margin: 20px;
	background-color: #f7f2f2;
}

p,
a,
button,
input,
textarea, 
ul,
ol,
li {
	font-family: 'Lexend Deca', sans-serif;
	font-size: 14px;
	font-optical-sizing: auto;
	font-weight: 500;
	color: #7b91ce;
}

a.active {
	color: #4f5f8b;
}

h1 {
	font-family: 'Lexend Deca', sans-serif;
	font-optical-sizing: auto;
	font-weight: 800;
	color: #4360af;
	font-size: 32px;
}

h2,
h3 {
	font-family: 'Lexend Deca', sans-serif;
	font-optical-sizing: auto;
	font-weight: 700;
	color: #4360af;
}

h2 {
	font-size: 18px;
}

input,
textarea {
	background-color: #f7f2f2;
	min-height: 30px;
	color: #7b91ce;
	border: none;
	border-radius: 10px;
	width: 100%;
}

textarea {
	height: 100px;
	resize: none;
}

img {
	width: 100%;
	max-width: 500px;
	height: auto;
}

hr {
	border-top: 1px solid #7b91ce;
}

.section {
	display: flex;
	flex-direction: row;
	width: 100%;
	gap: 16px;

	&-card {
		background-color: #eff1f3;
		border-radius: 10px;
		box-shadow: 0 0 5px rgb(153, 166, 182);
		padding: 16px;
		width: 100%;
	}

	&-imgcard {
		display: flex;
		flex-wrap: wrap;
	}
}
